@{
    ViewData["Title"] = "FPT camera";
}
<h1>@ViewData["Title"]</h1>

<!-- Page Title -->
<section class="page-title-wrap d-none d-sm-block" data-bg-img="https://fptbinhthuan.com.vn/upload/banner/bannercamera_1603169188.png" data-rjs="2" style="height: 300px;background-repeat: repeat-x;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page-title"></div>
            </div>
        </div>
    </div>
</section>
<!-- End of Page Title -->
<!-- Products -->
<section class="pt-65 pb-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="products">
                    <div class="row">
                        <!-- Single Product -->
                        <div class="col-sm-6">
                            <div class="single-product mb-55" data-animate="fadeInUp" data-delay=".1">
                                <!-- <span class="tip">New</span> -->
                                <a href="https://fptbinhthuan.com.vn/san-pham/camera-trong-nha-4.html"><img src="https://fptbinhthuan.com.vn/upload/product/camera-trong-nha_1602584938.png" class="img-thumbnail" alt=""></a>
                                <ul class="list-inline">
                                    <!-- <li><i class="fa fa-star"></i></li> -->
                                    <!-- <li><i class="fa fa-star"></i></li> -->
                                    <!-- <li><i class="fa fa-star"></i></li> -->
                                    <!-- <li><i class="fa fa-star"></i></li> -->
                                    <!-- <li><i class="fa fa-star"></i></li> -->
                                </ul>
                                <h3 class="h5">
                                    <a href="https://fptbinhthuan.com.vn/san-pham/camera-trong-nha-4.html" style="font-weight: bold;">Camera trong nhà</a>
                                </h3>
                                <div class="price-and-all position-relative">
                                    <span class="price">1.300.000 VNĐ</span>
                                </div>
                            </div>
                        </div>
                        <!-- End of Single Product -->
                        <!-- Single Product -->
                        <div class="col-sm-6">
                            <div class="single-product mb-55" data-animate="fadeInUp" data-delay=".1">
                                <!-- <span class="tip">New</span> -->
                                <a href="https://fptbinhthuan.com.vn/san-pham/camera-ngoai-troi-1.html"><img src="https://fptbinhthuan.com.vn/upload/product/camera-ngoai-troi_1602559193.png" class="img-thumbnail" alt=""></a>
                                <ul class="list-inline">
                                    <!-- <li><i class="fa fa-star"></i></li> -->
                                    <!-- <li><i class="fa fa-star"></i></li> -->
                                    <!-- <li><i class="fa fa-star"></i></li> -->
                                    <!-- <li><i class="fa fa-star"></i></li> -->
                                    <!-- <li><i class="fa fa-star"></i></li> -->
                                </ul>
                                <h3 class="h5">
                                    <a href="https://fptbinhthuan.com.vn/san-pham/camera-ngoai-troi-1.html" style="font-weight: bold;">Camera ngoài trời</a>
                                </h3>
                                <div class="price-and-all position-relative">
                                    <span class="price">1.400.000 VNĐ</span>
                                </div>
                            </div>
                        </div>
                        <!-- End of Single Product -->
                    </div>
                    <!-- Pagination -->
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-lg-4">
                <aside>
                    <div class="sidebar-widget mb-55" data-animate="fadeInUp" data-delay=".1">
                        <div class="search-widget">
                            <form class="parsley-validate" action="/san-pham">
                                <div class="form-field">
                                    <input class="theme-input-style" type="text" name="q" placeholder="Nhập từ khóa..." value="" required>
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-55" data-animate="fadeInUp" data-delay=".1">
                        <h3 class="bordered-title">Danh mục</h3>
                        <div class="list-widget">
                            <ul class="list-unstyled m-0 p-0">
                                <li><a href="/san-pham/fpt-camera">FPT Camera</a> (2)</li>
                                <li><a href="/san-pham/fpt-playbox">FPT Playbox</a> (3)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-55" data-animate="fadeInUp" data-delay=".1">
                        <h3 class="bordered-title">Năm sản xuất</h3>
                        <div class="list-widget">
                            <ul class="list-unstyled m-0 p-0">
                                <li><a href="/san-pham?year=2022">2022</a> (1)</li>
                                <li><a href="/san-pham?year=2020">2020</a> (4)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-55" data-animate="fadeInUp" data-delay=".1" style="">
                        <h3 class="bordered-title">Tags</h3>
                        <div class="tags d-flex flex-wrap"></div>
                    </div>
                </aside>
            </div>
            <!-- End of Sidebar -->
        </div>
    </div>
</section>
<!-- End of Products -->