@{
    ViewData["Title"] = "INTERNET FPT";
}
<h1>@ViewData["Title"]</h1>
<!-- Page Title -->
<section class="page-title-wrap d-none d-sm-block" data-bg-img="https://fptbinhthuan.com.vn/upload/banner/bannerinternet_1603168931.png" data-rjs="2" style="height: 300px;background-repeat: repeat-x;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page-title"></div>
            </div>
        </div>
    </div>
</section>
<!-- End of Page Title -->
<section class="light-bg pt-50">
    <div class="container">
        <div class="row justify-content-center news-category-section-title">
            <div class="col-md-12">
                <div class="section-title text-center animated fadeInUp" data-animate="fadeInUp" data-delay=".1" style="animation-duration: 0.6s; animation-delay: 0.1s;">
                    <p></p><p>
                        Sử dụng công nghệ kết nối viễn
                        thông tiên tiến nhất thế giới hiện nay (FTTH), FPT Telecom cung cấp các gói cước
                        Internet tốc độ cao với đường truyền dẫn hoàn toàn bằng cáp quang từ nhà cung cấp
                        tới tận địa điểm của khách hàng. Công nghệ này sở hữu tính năng ưu việt: tốc độ
                        truyền tải dữ liệu Internet xuống/lên (download/upload) ngang bằng nhau.
                    </p>
                    <br><p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-feature single-feature-img-left text-left animated fadeInUp" data-animate="fadeInUp" data-delay=".05" style="animation-duration: 0.6s; animation-delay: 0.05s;">
                    <div class="single-feature-img">
                        <img src="https://fptbinhthuan.com.vn/upload/feature/toc-do-truy-cap-internet-cao-len-den-1gigabit-giay-1gbps_1602583694.png" alt="Tốc độ truy cập Internet cao, lên đến 1Gigabit/giây (1Gbps)" class="">
                    </div>
                    <div class="single-feature-content">
                        <p>Tốc độ truy cập Internet cao, lên đến 1Gigabit/giây (1Gbps)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-feature single-feature-img-left text-left animated fadeInUp" data-animate="fadeInUp" data-delay=".05" style="animation-duration: 0.6s; animation-delay: 0.05s;">
                    <div class="single-feature-img">
                        <img src="https://fptbinhthuan.com.vn/upload/feature/dang-ky-de-dang-tien-loi-qua-tong-dai-tren-website-truc-tuyen-hoac-tai-he-thong-cac-van-phong-giao-dich-fpt-telecom_1602583707.png" alt="Đăng ký dễ dàng, tiện lợi qua tổng đài, trên website trực tuyến hoặc tại hệ thống các văn phòng giao dịch FPT Telecom" class="">
                    </div>
                    <div class="single-feature-content">
                        <p>Đăng ký dễ dàng, tiện lợi qua tổng đài, trên website trực tuyến hoặc tại hệ thống các văn phòng giao dịch FPT Telecom</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-feature single-feature-img-left text-left animated fadeInUp" data-animate="fadeInUp" data-delay=".05" style="animation-duration: 0.6s; animation-delay: 0.05s;">
                    <div class="single-feature-img">
                        <img src="https://fptbinhthuan.com.vn/upload/feature/chat-luong-tin-hieu-on-dinh-khong-bi-anh-huong-boi-thoi-tiet-chieu-dai-cap_1602583720.png" alt="Chất lượng tín hiệu ổn định, không bị ảnh hưởng bởi thời tiết, chiều dài cáp…" class="">
                    </div>
                    <div class="single-feature-content">
                        <p>Chất lượng tín hiệu ổn định, không bị ảnh hưởng bởi thời tiết, chiều dài cáp…</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-feature single-feature-img-left text-left animated fadeInUp" data-animate="fadeInUp" data-delay=".05" style="animation-duration: 0.6s; animation-delay: 0.05s;">
                    <div class="single-feature-img">
                        <img src="https://fptbinhthuan.com.vn/upload/feature/thoi-gian-lap-dat-dich-vu-nhanh-chong-toi-da-la-35-ngay_1602583729.png" alt="Thời gian lắp đặt dịch vụ nhanh chóng, tối đa là 3-5 ngày" class="">
                    </div>
                    <div class="single-feature-content">
                        <p>Thời gian lắp đặt dịch vụ nhanh chóng, tối đa là 3-5 ngày</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-feature single-feature-img-left text-left animated fadeInUp" data-animate="fadeInUp" data-delay=".05" style="animation-duration: 0.6s; animation-delay: 0.05s;">
                    <div class="single-feature-img">
                        <img src="https://fptbinhthuan.com.vn/upload/feature/thiet-bi-an-toan-khong-so-set-danh-lan-truyen-tren-duong-day_1602583638.png" alt="Thiết bị an toàn (không sợ sét đánh lan truyền trên đường dây)" class="">
                    </div>
                    <div class="single-feature-content">
                        <p>Thiết bị an toàn (không sợ sét đánh lan truyền trên đường dây)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-feature single-feature-img-left text-left animated fadeInUp" data-animate="fadeInUp" data-delay=".05" style="animation-duration: 0.6s; animation-delay: 0.05s;">
                    <div class="single-feature-img">
                        <img src="https://fptbinhthuan.com.vn/upload/feature/de-dang-nang-cap-bang-thong-ma-khong-can-keo-cap-moi_1602583524.png" alt="Dễ dàng nâng cấp băng thông mà không cần kéo cáp mới" class="">
                    </div>
                    <div class="single-feature-content">
                        <p>Dễ dàng nâng cấp băng thông mà không cần kéo cáp mới</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- News -->
<section class="light-bg pt-50 pb-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title text-center" data-animate="fadeInUp" data-delay=".1">
                    <h2>Tin tức Internet FPT</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="latest-news-wraper position-relative">
                    <div class="swiper-container news-slider">
                        <div class="swiper-wrapper">
                            <div class="single-news swiper-slide">
                                <img src="https://fptbinhthuan.com.vn/upload/news/thumbnail/cay-game-tha-ga-he-nay-voi-tinh-nang-ultra-fast-danh-cho-game-thu_1688097600.png" class="img-thumbnail news-middle-thumbnail" data-rjs="2" alt="CÀY GAME THẢ GA HÈ NÀY VỚI TÍNH NĂNG ULTRA FAST DÀNH CHO GAME THỦ">
                                <h3 class="h5"><a href="https://fptbinhthuan.com.vn/tin-tuc/cay-game-tha-ga-he-nay-voi-tinh-nang-ultra-fast-danh-cho-game-thu-3277.html">CÀY GAME THẢ GA HÈ NÀY VỚI TÍNH NĂNG ULTRA FAST DÀNH CHO GAME THỦ</a></h3>
                                Tính năng Ultra Fast tích hợp trên đường truyền Internet FPT chắc chắn sẽ là người...
                                <a href="https://fptbinhthuan.com.vn/tin-tuc/cay-game-tha-ga-he-nay-voi-tinh-nang-ultra-fast-danh-cho-game-thu-3277.html">Xem thêm <i class="fa fa-angle-right"></i></a>
                            </div>

                            <div class="single-news swiper-slide">
                                <img src="https://fptbinhthuan.com.vn/upload/news/thumbnail/lap-dat-cap-quang-gia-re-tai-mui-ne-thanh-pho-phan-thiet_1686804879.png" class="img-thumbnail news-middle-thumbnail" data-rjs="2" alt="Lắp Đặt Cáp Quang Giá Rẻ Tại Mũi Né Thành Phố Phan Thiết">
                                <h3 class="h5"><a href="https://fptbinhthuan.com.vn/tin-tuc/lap-dat-cap-quang-gia-re-tai-mui-ne-thanh-pho-phan-thiet-3236.html">Lắp Đặt Cáp Quang Giá Rẻ Tại Mũi Né Thành Phố Phan Thiết</a></h3>
                                Bạn có thể đăng ký 0903 85 7989 lắp đặt mạng cáp quang FPT tại Mũi Né, Phan...
                                <a href="https://fptbinhthuan.com.vn/tin-tuc/lap-dat-cap-quang-gia-re-tai-mui-ne-thanh-pho-phan-thiet-3236.html">Xem thêm <i class="fa fa-angle-right"></i></a>
                            </div>

                            <div class="single-news swiper-slide">
                                <img src="https://fptbinhthuan.com.vn/upload/news/thumbnail/fpt-telecom-mo-bang-thong-khong-gioi-han-cho-khach-hang-ca-nh-n-ho-gia-dinh-tu-01-01-2023_1672535867.jpeg" class="img-thumbnail news-middle-thumbnail" data-rjs="2" alt="FPT TELECOM MỞ BĂNG THÔNG KHÔNG GIỚI HẠN CHO KHÁCH HÀNG CÁ NHÂN, HỘ GIA ĐÌNH TỪ 01/01/2023">
                                <h3 class="h5"><a href="https://fptbinhthuan.com.vn/tin-tuc/fpt-telecom-mo-bang-thong-khong-gioi-han-cho-khach-hang-ca-nhan-ho-gia-dinh-tu-01-01-2023-3059.html">FPT TELECOM MỞ BĂNG THÔNG KHÔNG GIỚI HẠN CHO KHÁCH HÀNG CÁ NHÂN, HỘ GIA ĐÌNH TỪ 01/01/2023</a></h3>
                                FPT Telecom trở thành nhà mạng tiên phong mở băng thông truy cập không giới hạn, nâng...
                                <a href="https://fptbinhthuan.com.vn/tin-tuc/fpt-telecom-mo-bang-thong-khong-gioi-han-cho-khach-hang-ca-nhan-ho-gia-dinh-tu-01-01-2023-3059.html">Xem thêm <i class="fa fa-angle-right"></i></a>
                            </div>

                            <div class="single-news swiper-slide">
                                <img src="https://fptbinhthuan.com.vn/upload/news/thumbnail/fpt-telecom-ra-mat-tinh-nang-ultra-fast-danh-rieng-cho-game-thu_1669956737.jpeg" class="img-thumbnail news-middle-thumbnail" data-rjs="2" alt="FPT TELECOM RA MẮT TÍNH NĂNG ULTRA FAST DÀNH RIÊNG CHO GAME THỦ">
                                <h3 class="h5"><a href="https://fptbinhthuan.com.vn/tin-tuc/fpt-telecom-ra-mat-tinh-nang-ultra-fast-danh-rieng-cho-game-thu-3034.html">FPT TELECOM RA MẮT TÍNH NĂNG ULTRA FAST DÀNH RIÊNG CHO GAME THỦ</a></h3>
                                Sau quá trình thử nghiệm, FPT Telecom chính thức mở bán tính năng Ultra Fast từ...
                                <a href="https://fptbinhthuan.com.vn/tin-tuc/fpt-telecom-ra-mat-tinh-nang-ultra-fast-danh-rieng-cho-game-thu-3034.html">Xem thêm <i class="fa fa-angle-right"></i></a>
                            </div>

                            <div class="single-news swiper-slide">
                                <img src="https://fptbinhthuan.com.vn/upload/news/thumbnail/lap-dat-mang-voi-chi-phi-hop-ly-va-nhieu-uu-dai-hap-dan_1658389013.png" class="img-thumbnail news-middle-thumbnail" data-rjs="2" alt="Lắp đặt mạng với chi phí hợp lý và nhiều ưu đãi hấp dẫn">
                                <h3 class="h5"><a href="https://fptbinhthuan.com.vn/tin-tuc/lap-dat-mang-voi-chi-phi-hop-ly-va-nhieu-uu-dai-hap-dan-2906.html">Lắp đặt mạng với chi phí hợp lý và nhiều ưu đãi hấp dẫn</a></h3>
                                Khi đăng ký sử dụng internet, người dùng có rất nhiều tiêu chí để quyết định...
                                <a href="https://fptbinhthuan.com.vn/tin-tuc/lap-dat-mang-voi-chi-phi-hop-ly-va-nhieu-uu-dai-hap-dan-2906.html">Xem thêm <i class="fa fa-angle-right"></i></a>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-button-next next-news">
                        <img src="https://fptbinhthuan.com.vn/assets/public/development/company/template_001/img/icons/right-arrow.svg" alt="" class="">
                    </div>
                    <div class="swiper-button-prev prev-news">
                        <img src="https://fptbinhthuan.com.vn/assets/public/development/company/template_001/img/icons/left-arrow.svg" alt="" class="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of News -->