@{
    ViewData["Title"] = "Tin tức";
}
<h1>@ViewData["Title"]</h1>

<!-- Page Title -->
<section class="page-title-wrap d-none d-sm-block" data-bg-img="https://fptbinhthuan.com.vn/upload/banner/bannertintuc_1603168961.png" data-rjs="2" style="height: 300px;background-repeat: repeat-x;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page-title"></div>
            </div>
        </div>
    </div>
</section>
<!-- End of Page Title -->
<!-- news -->
<section class="pt-65 pb-65">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog">
                    <div class="row isotope">
                        <!-- Single Post -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-news mb-55" data-animate="fadeInUp" data-delay=".1">
                                <!-- <a class="tip" href="#">News</a> -->
                                <img src="https://fptbinhthuan.com.vn/upload/news/thumbnail/fpt-camera-toa-sang-tai-su-kien-dxsummit-2024_1717147771.jpeg" class="img-thumbnail news-middle-thumbnail" data-rjs="2" alt="FPT Camera Tỏa Sáng Tại Sự Kiện DxSummit 2024">
                                <h3 class="h5"><a href="https://fptbinhthuan.com.vn/tin-tuc/fpt-camera-toa-sang-tai-su-kien-dxsummit-2024-3537.html">FPT Camera Tỏa Sáng Tại Sự Kiện DxSummit 2024</a></h3>


                                Tại sự kiện DxSummit 2024, FPT Life - đơn vị sản phẩm chiến lược của FPT Telecom...                                        <a href="https://fptbinhthuan.com.vn/tin-tuc/fpt-camera-toa-sang-tai-su-kien-dxsummit-2024-3537.html">Xem thêm <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                        <!-- End of Single Post -->
                        <!-- Single Post -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-news mb-55" data-animate="fadeInUp" data-delay=".1">
                                <!-- <a class="tip" href="#">News</a> -->
                                <img src="https://fptbinhthuan.com.vn/upload/news/thumbnail/fpt-smart-home-gay-an-tuong-tai-su-kien-dxsummit-2024_1717147593.jpeg" class="img-thumbnail news-middle-thumbnail" data-rjs="2" alt="FPT Smart Home Gây Ấn Tượng Tại Sự Kiện DxSummit 2024">
                                <h3 class="h5"><a href="https://fptbinhthuan.com.vn/tin-tuc/fpt-smart-home-gay-an-tuong-tai-su-kien-dxsummit-2024-3536.html">FPT Smart Home Gây Ấn Tượng Tại Sự Kiện DxSummit 2024</a></h3>


                                Tại sự kiện DxSummit 2024, FPT Life - đơn vị sản phẩm chiến lược của FPT Telecom...                                        <a href="https://fptbinhthuan.com.vn/tin-tuc/fpt-smart-home-gay-an-tuong-tai-su-kien-dxsummit-2024-3536.html">Xem thêm <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                        <!-- End of Single Post -->
                        <!-- Single Post -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-news mb-55" data-animate="fadeInUp" data-delay=".1">
                                <!-- <a class="tip" href="#">News</a> -->
                                <img src="https://fptbinhthuan.com.vn/upload/news/thumbnail/fpt-smart-home-hien-thuc-hoa-nha-thong-minh-tai-dx-summit-2024_1717146468.jpeg" class="img-thumbnail news-middle-thumbnail" data-rjs="2" alt="FPT Smart Home hiện thực hóa nhà thông minh tại Dx Summit 2024">
                                <h3 class="h5"><a href="https://fptbinhthuan.com.vn/tin-tuc/fpt-smart-home-hien-thuc-hoa-nha-thong-minh-tai-dx-summit-2024-3535.html">FPT Smart Home hiện thực hóa nhà thông minh tại Dx Summit 2024</a></h3>


                                FPT Smart Home trình diễn các giải pháp, thiết bị và dịch vụ made by FPT giúp kết...                                        <a href="https://fptbinhthuan.com.vn/tin-tuc/fpt-smart-home-hien-thuc-hoa-nha-thong-minh-tai-dx-summit-2024-3535.html">Xem thêm <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                        <!-- End of Single Post -->
                    </div><div class="row isotope">
                        <!-- Single Post -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-news mb-55" data-animate="fadeInUp" data-delay=".1">
                                <!-- <a class="tip" href="#">News</a> -->
                                <img src="https://fptbinhthuan.com.vn/upload/news/thumbnail/fpt-camera-mang-cong-nghe-ai-tien-tien-nhat-toi-dx-summit-2024_1717145230.jpeg" class="img-thumbnail news-middle-thumbnail" data-rjs="2" alt="FPT Camera mang công nghệ AI tiên tiến nhất tới Dx Summit 2024">
                                <h3 class="h5"><a href="https://fptbinhthuan.com.vn/tin-tuc/fpt-camera-mang-cong-nghe-ai-tien-tien-nhat-toi-dx-summit-2024-3534.html">FPT Camera mang công nghệ AI tiên tiến nhất tới Dx Summit 2024</a></h3>


                                FPT Camera giới thiệu các thiết bị Camera AI Make in Vietnam và giải pháp nhận diện...                                        <a href="https://fptbinhthuan.com.vn/tin-tuc/fpt-camera-mang-cong-nghe-ai-tien-tien-nhat-toi-dx-summit-2024-3534.html">Xem thêm <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                        <!-- End of Single Post -->
                        <!-- Single Post -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-news mb-55" data-animate="fadeInUp" data-delay=".1">
                                <!-- <a class="tip" href="#">News</a> -->
                                <img src="https://fptbinhthuan.com.vn/upload/news/thumbnail/fpt-camera-dat-tieu-chi-cua-bo-tttt-ve-an-toan-thong-tin-cho-camera-giam-sat_1717142566.jpeg" class="img-thumbnail news-middle-thumbnail" data-rjs="2" alt="FPT Camera đạt tiêu chí của Bộ TT&TT về an toàn thông tin cho camera giám sát">
                                <h3 class="h5"><a href="https://fptbinhthuan.com.vn/tin-tuc/fpt-camera-dat-tieu-chi-cua-bo-tttt-ve-an-toan-thong-tin-cho-camera-giam-sat-3533.html">FPT Camera đạt tiêu chí của Bộ TT&TT về an toàn thông tin cho camera giám sát</a></h3>


                                FPT Camera đáp ứng các tiêu chí về an toàn thông tin được quy định bởi Bộ...                                        <a href="https://fptbinhthuan.com.vn/tin-tuc/fpt-camera-dat-tieu-chi-cua-bo-tttt-ve-an-toan-thong-tin-cho-camera-giam-sat-3533.html">Xem thêm <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                        <!-- End of Single Post -->
                    </div>
                    <ul class='pagination blog-pagination align-items-center justify-content-center mb-55 animated fadeInUp'><li class='active'><a>1</a></li><li><a href="https://fptbinhthuan.com.vn/tin-tuc?trang=2" data-ci-pagination-page="2">2</a></li><li><a href="https://fptbinhthuan.com.vn/tin-tuc?trang=3" data-ci-pagination-page="3">3</a></li><li><a href="https://fptbinhthuan.com.vn/tin-tuc?trang=2" data-ci-pagination-page="2" rel="next">»</a></li><li><a href="https://fptbinhthuan.com.vn/tin-tuc?trang=81" data-ci-pagination-page="81">Trang cuối</a></li></ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of news -->