@{
    ViewData["Title"] = "Internet FPT";
}
<h1>@ViewData["Title"]</h1>

<!-- Page Title -->
<section class="page-title-wrap d-none d-sm-block" data-bg-img="https://fptbinhthuan.com.vn/upload/banner/bannertruyenhinh_1603169171.png" data-rjs="2" style="height: 300px;background-repeat: repeat-x;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page-title">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Page Title -->
<section class="light-bg pt-50">
    <div class="container">
        <div class="row justify-content-center news-category-section-title">
            <div class="col-md-12">
                <div class="section-title text-center animated fadeInUp" data-animate="fadeInUp" data-delay=".1" style="animation-duration: 0.6s; animation-delay: 0.1s;">
                    <p></p><p></p>
                    <p></p>FPT PLAY gồm hơn 180 kênh (trong đó có hơn 70 kênh chuẩn HD), với chất lượng hình ảnh và âm thanh sắc nét sống động, cùng nhiều tính năng thông minh vượt trội: Truyền hình xem lại, Giám sát trẻ em, Tính năng tùy chọn góc nhìn, Điều khiển bằng giọng nói….
                    <br><p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-feature single-feature-img-left text-left animated fadeInUp" data-animate="fadeInUp" data-delay=".05" style="animation-duration: 0.6s; animation-delay: 0.05s;">
                    <div class="single-feature-img">
                        <img src="https://fptbinhthuan.com.vn/upload/feature/truyen-hinh_1602584158.png" alt="TRUYỀN HÌNH FPT PLAY" class="">
                    </div>
                    <div class="single-feature-content">
                        <h4>TRUYỀN HÌNH FPT PLAY</h4>
                        <p></p><p>
                            <b>
                                <i>
                                    Gói
                                    Cơ bản
                                </i>
                            </b>&nbsp;đa dạng nhóm kênh: VTV, HTV, VTC, kênh tổng hợp, phim truyện,
                            giải trí, hoạt hình, thể thao, âm nhạc, tin tức, kênh địa phương, kênh chuyên
                            biệt….<br>
                        </p>

                        <p>
                            <b>
                                <i>
                                    Gói Mở
                                    rộng
                                </i>
                            </b>&nbsp;bao gồm gói Đặc sắc, K+ phù hợp với nhu cầu thưởng thức của
                            nhiều đối tượng khán giả.
                        </p>
                        <br><p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-feature single-feature-img-left text-left animated fadeInUp" data-animate="fadeInUp" data-delay=".05" style="animation-duration: 0.6s; animation-delay: 0.05s;">
                    <div class="single-feature-img">
                        <img src="https://fptbinhthuan.com.vn/upload/feature/ung-dung-phim-truyen_1602584190.png" alt="ỨNG DỤNG PHIM TRUYỆN" class="">
                    </div>
                    <div class="single-feature-content">
                        <h4>ỨNG DỤNG PHIM TRUYỆN</h4>
                        <p></p><p>
                            Kho phim khổng
                            lồ với hàng ngàn phim điện ảnh, phim truyền hình đặc sắc trong và ngoài nước, được
                            cập nhật liên tục với nhiều ngôn ngữ, phụ đề và thuyết minh. Ngoài ra, người
                            yêu phim còn được thưởng thức phim chiếu rạp bom tấn Hollywood, Việt Nam theo
                            yêu cầu tại các ứng dụng Galaxy Play, Danet.
                        </p>
                        <br><p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-feature single-feature-img-left text-left animated fadeInUp" data-animate="fadeInUp" data-delay=".05" style="animation-duration: 0.6s; animation-delay: 0.05s;">
                    <div class="single-feature-img">
                        <img src="https://fptbinhthuan.com.vn/upload/feature/ung-dung-thieu-nhi_1602584218.png" alt="ỨNG DỤNG THIẾU NHI" class="">
                    </div>
                    <div class="single-feature-content">
                        <h4>ỨNG DỤNG THIẾU NHI</h4>
                        <p></p><p>
                            Luôn hướng đến tính giải trí và giáo dục, ứng dụng Thiếu
                            nhi mang tới nhiều nội dung phong phú như phim hoạt hình, chương trình ca nhạc,
                            kể chuyện cùng những bài học tiếng Anh bổ ích, dễ hiểu… Các chương trình đều
                            được thuyết minh tiếng Việt giúp các bé vừa học vừa chơi một cách hiệu quả.
                        </p>
                        <br><p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-feature single-feature-img-left text-left animated fadeInUp" data-animate="fadeInUp" data-delay=".05" style="animation-duration: 0.6s; animation-delay: 0.05s;">
                    <div class="single-feature-img">
                        <img src="https://fptbinhthuan.com.vn/upload/feature/ung-dung-the-thao_1602584253.png" alt="ỨNG DỤNG THỂ THAO" class="">
                    </div>
                    <div class="single-feature-content">
                        <h4>ỨNG DỤNG THỂ THAO</h4>
                        <p></p><p>
                            Nơi cập nhật
                            tin tức nóng hổi cùng các trận đấu đỉnh cao của nhiều giải đấu thể thao trong
                            nước và quốc tế: Giải Ngoại hạng Anh, Champion League, FA Cup, giải vô địch quốc
                            gia V-League, giải bóng rổ nhà nghề Đông Nam Á và nhiều môn thể thao khác với
                            những phần bình luận sôi nổi, format đa dạng.
                        </p>
                        <br><p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-feature single-feature-img-left text-left animated fadeInUp" data-animate="fadeInUp" data-delay=".05" style="animation-duration: 0.6s; animation-delay: 0.05s;">
                    <div class="single-feature-img">
                        <img src="https://fptbinhthuan.com.vn/upload/feature/ung-dung-giai-tri_1602584277.png" alt="ỨNG DỤNG GIẢI TRÍ" class="">
                    </div>
                    <div class="single-feature-content">
                        <h4>ỨNG DỤNG GIẢI TRÍ</h4>
                        <p></p><p>
                            Để đáp ứng tốt
                            hơn nhu cầu thưởng thức của khán giả, ứng dụng Giải trí của Truyền hình FPT
                            luôn cập nhật các nội dung hấp dẫn như ca nhạc, TVshow, hài kịch, sân khấu… đem
                            đến những giây phút thư giãn tuyệt vời cho người xem.
                        </p>
                        <br><p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-feature single-feature-img-left text-left animated fadeInUp" data-animate="fadeInUp" data-delay=".05" style="animation-duration: 0.6s; animation-delay: 0.05s;">
                    <div class="single-feature-img">
                        <img src="https://fptbinhthuan.com.vn/upload/feature/ung-dung-truc-tiep_1602584331.png" alt="ỨNG DỤNG TRỰC TIẾP" class="">
                    </div>
                    <div class="single-feature-content">
                        <h4>ỨNG DỤNG TRỰC TIẾP</h4>
                        <p>
                            Thường
                            xuyên phát trực tiếp các sự kiện giải trí, thể thao hấp dẫn trong nước lẫn quốc
                            tế như liveshow ca nhạc, đại nhạc hội, các chương trình truyền hình, thời
                            trang, bóng đá… Khách hàng có thể theo dõi trực tiếp tại nhà và tận hưởng
                            không khí chân thực nhất như đang có mặt tại sự kiện.
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- News -->
<section class="light-bg pt-50 pb-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title text-center" data-animate="fadeInUp" data-delay=".1">
                    <h2>Tin tức FPT PLAY</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="latest-news-wraper position-relative">
                    <div class="swiper-container news-slider">
                        <div class="swiper-wrapper">
                            <div class="single-news swiper-slide">
                                <img src="https://fptbinhthuan.com.vn/upload/news/thumbnail/phim-huyen-thoai-steve-jobs_1658126706.png" class="img-thumbnail news-middle-thumbnail" data-rjs="2" alt="PHIM HUYỀN THOẠI STEVE JOBS">
                                <h3 class="h5"><a href="https://fptbinhthuan.com.vn/tin-tuc/phim-huyen-thoai-steve-jobs-2905.html">PHIM HUYỀN THOẠI STEVE JOBS</a></h3>Phim tóm lược lại con đường trong vong 30 năm từ lúc bỏ đại học nữa chừng...                                        <a href="https://fptbinhthuan.com.vn/tin-tuc/phim-huyen-thoai-steve-jobs-2905.html">Xem thêm <i class="fa fa-angle-right"></i></a>
                            </div>

                            <div class="single-news swiper-slide">
                                <img src="https://fptbinhthuan.com.vn/upload/news/thumbnail/truyen-hinh-fpt-play-lua-chon-tuyet-hao-cho-ca-gia-dinh_1648717616.png" class="img-thumbnail news-middle-thumbnail" data-rjs="2" alt="Truyền hình FPT Play - lựa chọn tuyệt hảo cho cả gia đình">
                                <h3 class="h5"><a href="https://fptbinhthuan.com.vn/tin-tuc/truyen-hinh-fpt-play-lua-chon-tuyet-hao-cho-ca-gia-dinh-2825.html">Truyền hình FPT Play - lựa chọn tuyệt hảo cho cả gia đình</a></h3>
                                Truyền hình FPT Play từ lâu đã trở thành món ăn tinh thần không thể thiếu trong...                                        <a href="https://fptbinhthuan.com.vn/tin-tuc/truyen-hinh-fpt-play-lua-chon-tuyet-hao-cho-ca-gia-dinh-2825.html">Xem thêm <i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="single-news swiper-slide">
                                <img src="https://fptbinhthuan.com.vn/upload/news/thumbnail/giai-dau-combate-global-duoc-chieu-doc-quyen-tren-fpt-play_1648107073.png" class="img-thumbnail news-middle-thumbnail" data-rjs="2" alt="Giải đấu Combate Global được chiếu độc quyền trên FPT Play">
                                <h3 class="h5"><a href="https://fptbinhthuan.com.vn/tin-tuc/giai-dau-combate-global-duoc-chieu-doc-quyen-tren-fpt-play-2812.html">Giải đấu Combate Global được chiếu độc quyền trên FPT Play</a></h3>
                                FPT Play hợp tác với Combate Global, đưa hình ảnh của giải đấu võ thuật tổng hợp...                                        <a href="https://fptbinhthuan.com.vn/tin-tuc/giai-dau-combate-global-duoc-chieu-doc-quyen-tren-fpt-play-2812.html">Xem thêm <i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="single-news swiper-slide">
                                <img src="https://fptbinhthuan.com.vn/upload/news/thumbnail/so-huu-ngay-goi-k-tren-fpt-play-chi-voi-140000-dong-thang_1646278725.png" class="img-thumbnail news-middle-thumbnail" data-rjs="2" alt="Sở hữu ngay gói K+ trên FPT Play chỉ với 140.000 đồng/ tháng">
                                <h3 class="h5"><a href="https://fptbinhthuan.com.vn/tin-tuc/so-huu-ngay-goi-k-tren-fpt-play-chi-voi-140000-dong-thang-2789.html">Sở hữu ngay gói K+ trên FPT Play chỉ với 140.000 đồng/ tháng</a></h3>
                                Đăng ký gói K+ FPT Play chưa bao giờ dễ dàng đến thế với những cổ động viên...                                        <a href="https://fptbinhthuan.com.vn/tin-tuc/so-huu-ngay-goi-k-tren-fpt-play-chi-voi-140000-dong-thang-2789.html">Xem thêm <i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="single-news swiper-slide">
                                <img src="https://fptbinhthuan.com.vn/upload/news/thumbnail/tan-huong-the-gioi-giai-tri-cung-truyen-hinh-fpt_1646037188.png" class="img-thumbnail news-middle-thumbnail" data-rjs="2" alt="Tận hưởng thế giới giải trí cùng Truyền hình FPT">
                                <h3 class="h5"><a href="https://fptbinhthuan.com.vn/tin-tuc/tan-huong-the-gioi-giai-tri-cung-truyen-hinh-fpt-2778.html">Tận hưởng thế giới giải trí cùng Truyền hình FPT</a></h3>
                                Truyền hình truyền thống không còn đáp ứng đủ nhu cầu của người xem. Để theo...                                        <a href="https://fptbinhthuan.com.vn/tin-tuc/tan-huong-the-gioi-giai-tri-cung-truyen-hinh-fpt-2778.html">Xem thêm <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next next-news">
                        <img src="https://fptbinhthuan.com.vn/assets/public/development/company/template_001/img/icons/right-arrow.svg" alt="" class="">
                    </div>
                    <div class="swiper-button-prev prev-news">
                        <img src="https://fptbinhthuan.com.vn/assets/public/development/company/template_001/img/icons/left-arrow.svg" alt="" class="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of News -->